<div class="game">
    <div class="objects-container">
        <div class="object"
            (click)="selectModel(null)"
            dropzone="move"
        >
            <mat-icon>add_box</mat-icon>
            Nowy model</div>
        <div 
            class="object"
            *ngFor="let model of models | async as AbstractModel"
        >
            <app-list-item 
                [model]="model"></app-list-item>
        </div>
    </div>
    <div class="model-container">
        <app-modelcontainer [model]="model"></app-modelcontainer>
    </div>
</div>
<div class="bar">
    bar
</div>