:host {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}
.game{
    display: grid;
    grid-template-columns: 200px 1fr;
    height: auto;

    .objects-container {
        box-sizing: border-box;
        width: 100%;
        max-height: calc(100vh - 40px);
        background-color: #717171;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 2px;
        
        .object {
            // padding: 7px 5px;
            width:100%;
            box-sizing: border-box;
            background-color: #383838;
            color: white;
            display: flex;
            align-items: center;
            gap: 5px;
            text-overflow: ellipsis;
            position: relative;

            &:hover {
                background: linear-gradient(to right, #864343, transparent);
                cursor: pointer;
            }

            app-list-item {
                width:100%;
                padding: 3px;
            }
            &:first-child {
                padding: 7px 5px;
            }
            
            &:last-child {
                padding: 6px 3px;
                margin-top: auto;
                background-color: #864343;

                &:hover{
                    background-color: #c62727;
                }
            }
        }
    }
}

.bar {
    background-color: #717171;
    height: 20px;
}