<div class="add-modifier">
    Dodaj modyfikator:
    <br/>
    <button mat-raised-button 
        *ngFor="let modifier of enum | enum"
        (click)="addModifier(modifier.index)" 
    >{{modifier.name}}</button>
</div>
<div class="model-modifiers">
    Aktywne Modyfikatory:
    <table>
        <tr
            *ngFor="let modifier of model.getModifiers()"
        >
            <td>
                {{modifier.constructor.name}}
            </td>
            <td>
                <button mat-raised-button color="primary" (click)="modifier.apply()">Zatwierdź</button>
            </td>
        </tr>

    </table>
</div>