<div class="icons">
    <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="changePage(allPages.MAIN)">school</mat-icon>
    <mat-icon (click)="changePage(allPages.MODELS)">token</mat-icon>
    <mat-icon (click)="changePage(allPages.MODIFICATORS)">extension</mat-icon>
</div>
<div class="kb">
    <div class="custom-actions" [ngSwitch]="selectedPage">
        <app-kb-main 
            *ngSwitchCase="allPages.MAIN"
        ></app-kb-main>

        <app-kb-models 
            *ngSwitchCase="allPages.MODELS"
        ></app-kb-models>

        <app-kb-modifiers 
            *ngSwitchCase="allPages.MODIFICATORS"
        ></app-kb-modifiers>

    </div>
</div>