:host {
    z-index: 99;
    width:100%;
    color: white;
    position: absolute;
    transition-duration: .3s;

    height: 100%;
    background-color: black;
    
    display:grid;
    grid-template-columns: 60px 1fr;

    &:hover {
        width: 70vw;
        .kb {
            width: 100%;
        }
    }

}

.kb{
    width: 0;
    overflow-x: hidden;
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-icon {
        text-align: center;
        box-sizing: border-box;
        width: 60px;
        height:60px;
        font-size: 2rem;
        padding: 10px;

        &:hover {
            background-color: gray;
        }
    }
}

