:host {
    display:flex;
    flex-direction: column;
    gap: 20px;
    button  {
        width: 100%;
    }
}

.select {
    display:flex;
    box-sizing: border-box;
    max-width: 100%;

    >* {
        max-width: 50%;
    }
}