<div class="new-model" *ngIf="!model">
    <app-newmodel></app-newmodel>
</div>

<div class="edit-model" *ngIf="model">
    <div class="actions">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nazwa</mat-label>
            <input matInput [(ngModel)]="model.name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Favorite food</mat-label>
            <mat-select (selectionChange)="moveModel(model, $event.value)">
              <mat-option *ngFor="let model of allModels$ | async" [value]="model">
                {{model.getName()}}
              </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div class="image">

    </div>
    <div class="stats">

    </div>
    <div class="decorators">

    </div>
    <div class="modificators">

    </div>
</div>