<div class="new-model" *ngIf="!model">
    <app-newmodel></app-newmodel>
</div>

<div class="edit-model" *ngIf="model">
    <div class="actions">
        <h2>Typ: {{model.constructor.name}}</h2>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nazwa</mat-label>
            <input matInput [(ngModel)]="model.name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Dodaj do kolekcji</mat-label>
            <mat-select (selectionChange)="moveModel(model, $event.value)">
              <mat-option *ngFor="let model of composites$ | async" [value]="model">
                {{model.getName()}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width" (click)="model.addPolygonCount(model.getPolygonCount() * 1.25)">Modeluj</button>

        <div class="custom-actions" [ngSwitch]="model.constructor.name">
            <app-game-model-actions 
                *ngSwitchCase="'GameModel'"
                [model]="asGameModel(model)"
            ></app-game-model-actions>
        </div>

    </div>
    <div class="image">
        <div *ngIf="model.isComposite(); else templateName">
            <img src="assets/collection.png" alt="3D Model">
        </div>
        <ng-template #templateName>
            <div>
                <img src="assets/cube.png" alt="3D Model">
            </div>
        </ng-template>

    </div>
    
    <div class="stats">
        <table>
            <tr>
                <td>ilość vertexów: </td>
                <td>{{model.getPolygonCount()}}</td>
            </tr>
            <tr>
                <td>spędzony czas: </td>
                <td>{{timeConvert(model.getTimeSpent())}}</td>
            </tr>
        </table>

        <div [ngSwitch]="model.constructor.name">
            <app-game-model-stats 
                *ngSwitchCase="'GameModel'"
                [model]="asGameModel(model)"
            ></app-game-model-stats>

            <p *ngSwitchCase="false">
            
            </p>
            <p *ngSwitchDefault>
            
            </p>
        </div>
    </div>

    <div class="decorators">
        <h2>Opakuj model jako</h2>
        <div class="decoratorbox">   
            <div 
                class="decorator" 
                *ngFor="let type of types | enum" 
                (click)="decorateModel(model, type)"
            >
                {{type.name}}
            </div>
        </div>
    </div>

    <div class="modificators">
        <app-model-modifiers [model]="model"></app-model-modifiers>
    </div>
</div>