<div class="new-model" *ngIf="!model">
    <app-newmodel></app-newmodel>
</div>

<div class="edit-model" *ngIf="model">
    <div class="actions">
        <h2>{{model.constructor.name}}</h2>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nazwa</mat-label>
            <input matInput [(ngModel)]="model.name">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Dodaj do kolekcji</mat-label>
            <mat-select (selectionChange)="moveModel(model, $event.value)">
              <mat-option *ngFor="let model of composites$ | async" [value]="model">
                {{model.getName()}}
              </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div class="image">
        <div *ngIf="model.isComposite(); else templateName">
            Composite
        </div>
        <ng-template #templateName>
            <img src="assets/cube.png" alt="3D Model">
        </ng-template>

    </div>
    <div class="stats">

    </div>
    <div class="decorators">
        <div class="decorator" (click)="decorateModel(model, 'GameModel')">
            GameModel
        </div>
    </div>
    <div class="modificators">

    </div>
</div>