.new-model {
    height: 100%;
}

.edit-model {
    height: 100%;
    display: grid;
    grid-template-areas: 
        "actions model stats"
        "actions types stats";
    grid-template-columns: 250px 1fr 300px;
    grid-template-rows: auto 1fr;
    max-height: calc(100vh - 40px);

    >div {
        padding: 15px;
        overflow-y: auto;
    }

    .actions {
        grid-area: actions;
        background-color: rgb(209, 209, 209);

        .custom-actions {
            margin-top: 20px;
        }
    }

    .image {
        grid-area: model;
        background-color: #3c3c3c;
        div {
            display:flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            max-width: 100%;
        }
        img { 
            max-width: 100%; 
            max-height: 60vh;
            margin: auto;
        }
        
    }

    .stats {
        box-sizing: border-box;
        overflow-x: hidden;
        grid-area: stats;
        background-color: rgb(209, 209, 209);

        table {
            width:100%;
        }

        hr {
            border: none;
            height: 1px;
            background-color: #717171;
        }
        .stats-table {
            min-height:250px;
        }
    }

    .decorators{
        grid-area: types;
        background-color: rgb(209, 209, 209);

        .decoratorbox {
            display:flex;
            gap: 20px;
            justify-content: center;


            .decorator {
                width: 100px;
                height: 50px;
                cursor: pointer;
                border-radius: 5px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.324);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                background-color: rgb(243, 243, 243);
                transition-duration: .3s;

                &:hover {
                    background-color: white
                }
            }
        }
    }

    .modificators {
        grid-area: modificators;
        background-color: rgb(209, 209, 209);
    }

}

.full-width {
    width:100%;
}