<h1>Opis gry</h1>

<h2>Zadanie</h2>
<p>
    Twoim zadaniem jest wykonanie odpowiednich modeli dla klienta. <br/>
    Zadanie od obecnego klienta wyświetla się na belce górnej. Po najechaniu rozwiniesz pełny opis zadania. <br/>
    Kiedy uważasz, że stworzyłeś model pasujący do opisu, kliknij w "Wykonaj Zadanie" - twój model zostanie sprawdzony<br/>
    jesli jest poiprawny, zadanie zostanie zaliczone i dostanies kolejne.
</p>

<h2>Modele</h2>
<p>
    Możesz tworzyć pojedyncze modele, a także kolekcje modeli.<br/>
    Zarówno zewykły model, jak i kolekcja może zostać opakowany konkretny typ modelu<br/>
    (np. model go gier, model wizualizacji, model do druku 3D)<br/>
    <br/>
    Aby opakować model, kliknij na niego na liście modeli, a następnie wybierz z paska u dołu.<br/>
    Opakowania dają możliwość wykonania dodatkowych akcji na modelu. <br/>
    Aby dowiedzieć się więcej o dekoratorach, przejdź do kolejnej zakładki w Bazie Wiedzy
</p>

<h2>Modyfikatory</h2>
<p>
    Do modelu można też dodać modyfikatory usprawniające modelowanie w niektórych przypadkach. <br/>
    Np. symetryczny model można szybiej stworzyć z modyfikatorem Mirror, <br/>
    bo do wymodelowania zostaje tylko pół modelu - druga połowa stworzy się przez odbicie lustrzane
</p>