<button mat-raised-button 
    (click)="model.makeLighting()" 
    [disabled]="model.hasLighting()">Ustaw Światło</button>
    
<button mat-raised-button 
    [disabled]="model.hasMaterials()"
    (click)="model.setMaterials()">Ustaw Materiały</button>

<button mat-raised-button 
    (click)="model.unwrap()" 
    [disabled]="model.isUVunwrapped()">Stwórz UV mapę</button>
    
<div class="select">
    <mat-form-field appearance="fill">
        <mat-label>Jakość tekstur</mat-label>
        <mat-select [(value)]="selectedTexture">
          <mat-option 
            *ngFor="let q of textureQualityEnum | enum" 
            [value]="q">
            {{q.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <button mat-raised-button 
        [disabled]="!model.isUVunwrapped()"
        (click)="texture()">Teksturuj</button>
</div>

<button mat-raised-button 
    [disabled]="model.isRendered()"
    (click)="model.render()">Renderuj</button>