:host {
    display:flex;
    flex-direction: column;
    gap: 5px;
}
.main{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px 5px;
}
.objects-container {
    box-sizing: border-box;
    width: 100%;
    background-color: #717171;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;

}
.object {
    flex: 1;
    padding: 7px 5px;
    background-color: #383838;
    color: white;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    width: 100%;

    &:hover {
        background: linear-gradient(to right, #864343, transparent);
        cursor: pointer;
    }
}
.childern {
    padding-left: 5px;
    padding-top: 2px;
    display: flex;
    gap: 3px;
    flex-direction: column;
    width: 100%;

}
app-list-item{
    flex: 1;
    &:hover {
        background: linear-gradient(to right, #864343, transparent);

    }
}